HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
node_modules/jackson-js/.eslintrc.js
node_modules/jackson-js/.travis.yml
node_modules/jackson-js/build-index-docs.js
node_modules/jackson-js/CHANGELOG.md
node_modules/jackson-js/dist/@types/index.d.ts
node_modules/jackson-js/dist/core/DefaultContextGroup.d.ts
node_modules/jackson-js/dist/core/index.d.ts
node_modules/jackson-js/dist/core/JacksonError.d.ts
node_modules/jackson-js/dist/core/JsonStringifier.d.ts
node_modules/jackson-js/dist/core/JsonParser.d.ts
node_modules/jackson-js/dist/databind/CommonFeature.d.ts
node_modules/jackson-js/dist/databind/DeserializationFeature.d.ts
node_modules/jackson-js/dist/databind/index.d.ts
node_modules/jackson-js/dist/databind/ObjectMapper.d.ts
node_modules/jackson-js/dist/databind/SerializationFeature.d.ts
node_modules/jackson-js/dist/decorators/index.d.ts
node_modules/jackson-js/dist/decorators/JsonAlias.d.ts
node_modules/jackson-js/dist/decorators/JsonAnyGetter.d.ts
node_modules/jackson-js/dist/decorators/JsonAnySetter.d.ts
node_modules/jackson-js/dist/decorators/JsonAppend.d.ts
node_modules/jackson-js/dist/decorators/JsonBackReference.d.ts
node_modules/jackson-js/dist/decorators/JsonClassType.d.ts
node_modules/jackson-js/dist/decorators/JsonCreator.d.ts
node_modules/jackson-js/dist/decorators/JsonDeserialize.d.ts
node_modules/jackson-js/dist/decorators/JsonFilter.d.ts
node_modules/jackson-js/dist/decorators/JsonFormat.d.ts
node_modules/jackson-js/dist/decorators/JsonGetter.d.ts
node_modules/jackson-js/dist/decorators/JsonIdentityInfo.d.ts
node_modules/jackson-js/dist/decorators/JsonIdentityReference.d.ts
node_modules/jackson-js/dist/decorators/JsonIgnore.d.ts
node_modules/jackson-js/dist/decorators/JsonIgnoreProperties.d.ts
node_modules/jackson-js/dist/decorators/JsonInclude.d.ts
node_modules/jackson-js/dist/decorators/JsonIgnoreType.d.ts
node_modules/jackson-js/dist/decorators/JsonInject.d.ts
node_modules/jackson-js/dist/decorators/JsonManagedReference.d.ts
node_modules/jackson-js/dist/decorators/JsonNaming.d.ts
node_modules/jackson-js/dist/decorators/JsonProperty.d.ts
node_modules/jackson-js/dist/decorators/JsonPropertyOrder.d.ts
node_modules/jackson-js/dist/decorators/JsonRawValue.d.ts
node_modules/jackson-js/dist/decorators/JsonRootName.d.ts
node_modules/jackson-js/dist/decorators/JsonSerialize.d.ts
node_modules/jackson-js/dist/decorators/JsonSetter.d.ts
node_modules/jackson-js/dist/decorators/JsonSubTypes.d.ts
node_modules/jackson-js/dist/decorators/JsonTypeId.d.ts
node_modules/jackson-js/dist/decorators/JsonTypeIdResolver.d.ts
node_modules/jackson-js/dist/decorators/JsonTypeInfo.d.ts
node_modules/jackson-js/dist/decorators/JsonTypeName.d.ts
node_modules/jackson-js/dist/decorators/JsonUnwrapped.d.ts
node_modules/jackson-js/dist/decorators/JsonValue.d.ts
node_modules/jackson-js/dist/decorators/JsonView.d.ts
node_modules/jackson-js/dist/index.d.ts
node_modules/reflect-metadata/typings.d.ts
node_modules/reflect-metadata/standalone.d.ts
node_modules/reflect-metadata/Reflect.js
node_modules/reflect-metadata/Reflect.d.ts
node_modules/reflect-metadata/reflect-metadata.d.ts
node_modules/reflect-metadata/README.md
node_modules/reflect-metadata/package.json
node_modules/reflect-metadata/LICENSE
node_modules/reflect-metadata/index.d.ts
node_modules/reflect-metadata/docs/spec.biblio.json
node_modules/reflect-metadata/docs/index.html
node_modules/reflect-metadata/docs/ecmarkup.js
node_modules/reflect-metadata/docs/ecmarkup.css
node_modules/reflect-metadata/CopyrightNotice.txt
node_modules/reflect-metadata/AUTHORS.md
*.ts
node_modules/meriyah/README.md
node_modules/jackson-js/dist/lib.js
node_modules/jackson-js/dist/lib.node.js
node_modules/jackson-js/LICENSE
node_modules/jackson-js/package.json
node_modules/jackson-js/README.md
node_modules/jackson-js/tsconfig.es6.json
node_modules/jackson-js/tsconfig.json
node_modules/jackson-js/tsconfig.prod.json
node_modules/jackson-js/typedoc-tags-config.json
node_modules/jackson-js/webpack.dev.js
node_modules/jackson-js/webpack.prod.js
node_modules/lodash.clone/index.js
node_modules/lodash.clone/LICENSE
node_modules/lodash.clone/package.json
node_modules/lodash.clone/README.md
node_modules/lodash.clonedeep/index.js
node_modules/lodash.clonedeep/LICENSE
node_modules/lodash.clonedeep/package.json
node_modules/lodash.clonedeep/README.md
node_modules/meriyah/dist/chars.d.ts.map
node_modules/meriyah/dist/common.d.ts.map
node_modules/meriyah/dist/errors.d.ts.map
node_modules/meriyah/dist/estree.d.ts.map
*.map
node_modules/meriyah/dist/meriyah.amd.js
node_modules/meriyah/dist/meriyah.amd.min.js
node_modules/meriyah/dist/meriyah.cjs.js
node_modules/meriyah/dist/meriyah.cjs.min.js
node_modules/meriyah/dist/meriyah.esm.js
node_modules/meriyah/dist/meriyah.esm.min.js
node_modules/meriyah/dist/meriyah.iife.js
node_modules/meriyah/dist/meriyah.iife.min.js
*.js
node_modules/meriyah/LICENSE.md
node_modules/meriyah/package.json
package-lock.json
package.json
